{% load static %}
<html>
<head>
<title>Pre-Owned Student Merchandise</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t2"].value;
	
	if(x == null || x==""){
		window.alert("Feedback must be enter");
		document.f1.t2.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow"><font size="6" color="black">Pre-Owned  Student Merchandise</font></center></font>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
		<li><a href="{% url 'SaleProduct' %}"><font size="" color="black">Sale Product</font></a></font></li>
	  <li><a href="{% url 'SearchProducts' %}"><font size="" color="black">Search & Purchase Products</font></a></font></li>
	  <li><a href="{% url 'ViewHistory' %}"><font size="" color="black">View Cart</font></a></font></li>
	   <li><a href="{% url 'Feedback' %}"><font size="" color="black">Feedbacks</font></a></font></li>
	  
	   <li><a href="{% url 'index' %}"><font size="" color="black">Logout</font></a></font></li>		
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/feedback.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'FeedbackAction' %} OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>User Feedback Screen</b></h3>
   
	<font size="" color="black"><center>{{ data|safe }}</center></font>
						
						<table align="center" width="80" >

						{{ data1|safe }}

			 <tr><td><font size="" color="black">Feedback&nbsp;&nbsp;</b></td><td><input type="text" name="t2" style="font-family: Comic Sans MS" size="70"/></td></tr>
         
		  <tr><td><font size="" color="black">Ratings&nbsp;&nbsp;</b></td><td><select name="t3">
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="5">5</option>
		  </select>
		  </td></tr>

		  		 
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
			<br/><br/><br/><br/>
				</div>	
					
				</div>
				
	</body>
</html>